* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    text-align: center;
   
    
}
.msg_container{
   
    padding: 20px;
    background-color: rgb(10, 142, 186);
    border-radius: 1rem;
    
    height: 80vh;
 
}
#newgame{
    padding: 0.5rem 1rem;
    width: 6rem;
    font-size: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(86, 86, 193);
    color: rgb(89, 37, 105);
    cursor: pointer;
    margin-top: 100px;
    align-items: center;    
    

}
.container {
    
    padding: 20px;
    background-color: rgb(10, 142, 186);
    margin-bottom: 0px;
    
    
}
.adjustingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}       
.game {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    justify-content: center;
    height: 60vmin;
    width: 60vmin;
    background-color: rgb(98, 35, 98);
    border-radius: 1rem;
}
#reset{
    padding: 1% 1rem;
    width: 6rem;
    font-size: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(86, 86, 193);
    color: rgb(89, 37, 105);
    cursor: pointer;
    margin-top: 50px;  
    margin-bottom: 60px;    
}
.box{
    height: 15vmin;
    width: 15vmin;
    margin: auto;
    font-size: 8vmin;
    border-radius: 1.5rem;
    color: rgb(8, 10, 11);
   
}

.box:hover{
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}
.hide{
    display: none;
}
